body{
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
} */

.forms{
    flex: 0 0 600px;
}

.preview{
    margin-left: auto;
    background-color: green;
    padding: 20px;
    min-width: 300px;
}
.details-container{
    background-color: #111;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    margin: 20px 0 0 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.details-container h1{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.input-control{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.input-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.input-data{
    padding: 10px;
    background-color: #222;
    border: none;
    color: #fff;
    border-radius: 6px;
}

